@import "base/common";
@import "base/header-open-account";
@import "base/tradeCategory";

.bg {
  width: 100%;
  height: 520px;
  background-image: url("../image/blue-bgi-width-1600.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  @media (min-width: 1600px) {
    background-size: 100%;
  };
}

.pad {
  width: 460px;
  height: 455px;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: 42px auto 0;

  .titleHolder {
    .title {
      border-bottom: 3px solid #ff6c47;
      font-size: 18px;
      font-weight: bold;
      padding-top: 55px;
      margin: 0 auto 24px;
      line-height: 40px;
      text-align: center;
      width: 72px;
    }
  }

  .inputItem {
    height: 40px;
    width: 100%;
    margin-bottom: 13px;

    > .title {
      width: 134px;
      height: 100%;
      text-align: right;
      display: inline-block;
      line-height: 40px;
      font-weight: bold;
    }

    > input {
      height: 100%;
      width: 270px;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      padding-left: 8px;
    }

    > .info {
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      margin-left: 5px;
    }

    #verifyCodeInput {
      width: 160px;
    }
  }

  #verifyCodeInputItem {
    overflow: hidden;

    span {
      float: left;
    }

    input {
      float: left;
      margin-left: 6px;
    }

    button {
      margin-left: 12px;
      width: 95px;
      height: 24px;
      margin-top: 8px;
      border-radius: 3px;
      float: left;
    }

    .active {
      background-image: url('../image/simulate_open_account_get_verify_code.png');
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      color: rgba(0, 0, 0, 0);
    }

    .sent {
      background-color: #CCC;
      color: white;
      font-size: 12px;
    }
  }

  #submitBtn {
    height: 44px;
    width: 190px;
    margin: 27px auto 0;
    background-image: url("../image/submit_btn.png");
    display: block;
    cursor: pointer;
  }
}
