@charset "UTF-8";

// font相关
// --------------------------------------------------------------------------
$fontFamily: 				'PingFang SC','Helvetica Neue',Helvetica,Arial,Verdana,'Hiragino Sans GB','Noto Sans CJK SC','Source Han Sans CN',STHeiti,'Microsoft YaHei','WenQuanYi Micro Hei',SimSun,sans-serif !default;
$baseFontSize:				14px !default;




// color 相关
// ------------------------------------------------------------------------------
$color333:					#333333 !default;
$color666:					#666666 !default;
$color999:					#999999 !default;
$color000:					#000000 !default;
$colorFFF:					#FFFFFF !default;
$colorCCC:					#CCCCCC !default;
$colorF3:					#F3F3F3 !default;
$colorF5:					#F5F5F5 !default;


